/* 
*   Custom CSS-style adhering to the current (June 2018) version 
*   of the PureCloud App Foundry Style Guide
*       Found at: https://developer.mypurecloud.com/partners/
*/

body {
    color: #0F465D;
    font-family: “HelveticaNeue”, “Helvetica”, “Arial”, sans-serif;
    font-size: 14px;
}

.responsive {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

header {
    margin: 0;
    padding: 2px 0px 8px 10px;
    background-color: #FFF;
    border-bottom: 2px solid #DDDDDD
}

footer {
    padding-top: 10px;
    border-top: 2px solid #DDDDDD;
    background: #FFF;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

p {
    margin: 12px;
}

.appui img {
	width: 75%;
	vertical-align: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.25px;
}

button {
    border-radius: 5px 5px;
    padding: 12px 30px;
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    height: 50px;
}

.btn-info {
    background-color: #34b3dd;
    color: white;
    border: 1px solid #34b3dd;
    border-bottom: 3px solid #24a3cd;
}

.btn-info:hover {
    background-color: #25c0df;
}

.right {
    float: right;
}

.left {
    float: left;
}



