/* 
*   Custom CSS-style adhering to the current (June 2018) version 
*   of the PureCloud App Foundry Style Guide
*       Found at: https://developer.mypurecloud.com/partners/
*/

body {
    color: #0F465D;
    font-family: “HelveticaNeue”, “Helvetica”, “Arial”, sans-serif;
    font-size: 14px;
}

.align-center {
    display: block;
    margin: 1.0em auto;
    text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
}